.secciones{
    display: grid;
    gap: 5px;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "perfil"
    "nav";
}

.secciones .perfil{
   display: flex;
    justify-content: center;
    align-items: end;
    grid-area: perfil;
}

.secciones .perfil img{
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 90px;
    height: 170px;
    max-width: 170px;
}

.secciones .nav{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
    grid-area: nav;
}

.secciones .nav ul li a{
   font-size: 15pt;
    font-weight: bold;
    color: #dec9ee;
    text-decoration: none;
    transition: color 0.3s;
}

.secciones .nav ul li a:hover {
    color: black; /* Cambia el color al pasar el mouse */
}

.secciones .nav ul li a:active{
    color: #ccc8d5;
}

/* Estilos para pantallas medianas (tabletas) */
@media only screen and (max-width: 768px) {
    .secciones {
        grid-template-areas:
            "perfil"
            "nav";
    }
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media only screen and (max-width: 480px) {
    .secciones {
        grid-template-areas:
                "perfil"
                "nav"; /* Cambia a una fila */
        height: auto; /* Elimina la altura fija para adaptarse al contenido */

    }

    .secciones .nav {
        margin-top: 10px;
        padding: 30px;
    }

    .secciones .perfil img {
        height: 120px;
        max-width: 120px;
        border-width: 3px;
    }

    .secciones .nav ul li a {
        font-size: 14pt;
    }
}
